body{
	font-family: verdana;

}

header{
	background-color: #31A9D5;
	width: 100%;
	height: 200px;
	color: white;
	text-align: center;
	vertical-align: middle;

}

button{
	background-image: radial-gradient(#31A9D5, #5EB4D4);
	width: 200px;
	height: 40px;
	border-radius: 10px;
	font-family: verdana;
	color: white;
	font-size: 18px;

}

div#entrée{
	margin: 10px;

}

input{
	margin: 15px;

}
